@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Translate
<!-- Modal Add New Department -->
<div class="modal fade" id="modalAddEditDepartment" tabindex="-1" role="dialog" aria-labelledby="modalAddEditDepartmentLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form id="form-add-department">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAddEditDepartmentLabel">Thêm mới Khoa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Translate["Close"]">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Logo <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="image-input-logo" name="imageLogo" accept="image/*" style="display: none;">
                                            <label class="custom-file-label" for="image-input-logo">@Translate["SelectImageFile"]</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="btn-select-image-logo">@Translate["SelectImage"]</button>
                                        </div>
                                    </div>
                                    <input type="hidden" id="croppedImageLogo" name="croppedImageLogo" />
                                    <div class="mt-1">
                                        <img id="image-preview-logo" src="~/assets/images/250x250.svg" alt="Preview" class="img-thumbnail" />
                                    </div>
                                </div>
                                <div class="col-md-9" style="padding: 0px !important;">
                                    <div class="form-group col-md-12">
                                        <label>@Translate["NameFaculty"]<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="name" placeholder="@Translate["PlaceholderNameFaculty"]" />
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label>Email <span class="text-danger">*</span></label>
                                                <input type="email" class="form-control" name="email" placeholder="@Translate["PlaceholderEmail"]"/>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>@Translate["PhoneNumber"] <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" name="phoneNumber" placeholder="@Translate["PlaceholderEmail"]" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Url<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" name="slug" placeholder="@Translate["PlaceholderUrl"]" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>@Translate["Address1"] <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="address1" placeholder="@Translate["PlaceholderAddress1"]" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>@Translate["Address2"]</label>
                                        <input type="text" class="form-control" name="address2" placeholder="@Translate["PlaceholderAddress2"]" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>@Translate["FacebookAddress"]</label>
                            <input type="text" class="form-control" name="faceBookUrl" placeholder="@Translate["PlaceholderFacebook"]" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>@Translate["WikipediaAddress"]</label>
                            <input type="text" class="form-control" name="wikipediaUrl" placeholder="@Translate["PlaceholderWikipedia"]" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>@Translate["YoutubeAddress"]</label>
                            <input type="text" class="form-control" name="youtubeUrl" placeholder="@Translate["PlaceholderYoutube"]" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Banner <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="image-input" name="imageBanner" accept="image/*" style="display: none;">
                                    <label class="custom-file-label" for="image-input">@Translate["SelectImageFile"]</label>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="btn-select-image">@Translate["SelectImage"]</button>
                                </div>
                            </div>
                            <input type="hidden" id="croppedImage" name="croppedImage" />
                            <div class="mt-1">
                                <img id="image-preview" src="~/assets/images/2039x243.svg" alt="Preview" class="img-thumbnail" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">@Translate["Cancel"]</button>
                    <button type="button" class="btn btn-primary" id="btn-save-department">@Translate["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Crop Modal Banner -->
<div class="modal fade" id="crop-modal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cropModalLabel">@Translate["CropImage"]</h5>
                <span id="crop-dimensions" class="ml-2 text-muted small">@Translate["CropSize"] 2039 x 243</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div id="crop-container" style="max-height: 400px; overflow: hidden;"></div>
                </div>
                <div class="mt-2 text-center">
                    <small class="text-muted">@Translate["NoteCrop"] 2039 x 243</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="crop-cancel">@Translate["Cancel"]</button>
                <button type="button" class="btn btn-primary" id="crop-apply">@Translate["Apply"]</button>
            </div>
        </div>
    </div>
</div>

<!-- Crop Modal Logo -->
<div class="modal fade" id="crop-logo-modal" tabindex="-1" role="dialog" aria-labelledby="cropLogoModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cropLogoModalLabel">@Translate["CropImage"]</h5>
                <span id="crop-logo-dimensions" class="ml-2 text-muted small">@Translate["CropSize"] 250 x 250</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div id="crop-logo-container" style="max-height: 400px; overflow: hidden;"></div>
                </div>
                <div class="mt-2 text-center">
                    <small class="text-muted">@Translate["NoteCrop"] 250 x 250</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="crop-logo-cancel">@Translate["Cancel"]</button>
                <button type="button" class="btn btn-primary" id="crop-logo-apply">@Translate["Apply"]</button>
            </div>
        </div>
    </div>
</div>